<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link rel="manifest" href="manifest.json" />
    
    <link rel="apple-touch-icon" href="images/logo.svg" />
    <meta name="apple-mobile-web-app-status-bar" content="hsla(342,74%,31%,1)" />
    <meta name="theme-color" content="hsla(342,74%,31%,1)" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD@8..144,25..151,100..1000,-200..150&family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
  </head>
  <body data-js-enabled="false">
    {% block main %}
      {{ content | safe }}
    {% endblock %}
  </body>
  <script src="/js/main.js" ></script>
</html>