---
layout: base.njk
---

<header>
  {% block navPrimary %}
    {% include "navPrimary.njk" %}
  {% endblock %}

  <div class="colour-banner">
    <span class="green">&nbsp;</span>
    <span class="crimson">&nbsp;</span>
    <span class="yellow">&nbsp;</span>
    <span class="blue">&nbsp;</span>
    <span class="black">&nbsp;</span>
    <span class="white">&nbsp;</span>


    <span class="green">&nbsp;</span>
    <span class="red">&nbsp;</span>
    <span class="blue">&nbsp;</span>
    <span class="yellow">&nbsp;</span>
    <span class="white">&nbsp;</span>
    <span class="green">&nbsp;</span>


    <span class="yellow">&nbsp;</span>
    <span class="crimson">&nbsp;</span>
    <span class="black">&nbsp;</span>
    <span class="green">&nbsp;</span>
    <span class="white">&nbsp;</span>
    <span class="red">&nbsp;</span>
    <span class="blue">&nbsp;</span>
    <span class="white">&nbsp;</span>
    <span class="red">&nbsp;</span>
    <span class="yellow">&nbsp;</span>
    <span class="black">&nbsp;</span>
    <span class="yellow">&nbsp;</span>


  </div>
  {#
  <div class="flag-banner">
    <img src="/images/crests/albania.svg" alt="Albania flag" width="24" height="18">
    <img src="/images/crests/austria.svg" alt="Austria flag" width="24" height="18">
    <img src="/images/crests/belgium.svg" alt="Belgium flag" width="24" height="18">
    <img src="/images/crests/croatia.svg" alt="Croatia flag" width="24" height="18">
    <img src="/images/crests/czechia.svg" alt="Czechia flag" width="24" height="18">
    <img src="/images/crests/denmark.svg" alt="Denmark flag" width="24" height="18">
    <img src="/images/crests/england.svg" alt="England flag" width="24" height="18">
    <img src="/images/crests/france.svg" alt="France flag" width="24" height="18">
    <img src="/images/crests/germany.svg" alt="Germany flag" width="24" height="18">
    <img src="/images/crests/georgia.svg" alt="Georgia flag" width="24" height="18">
    <img src="/images/crests/hungary.svg" alt="Hungary flag" width="24" height="18">
    <img src="/images/crests/italy.svg" alt="Italy flag" width="24" height="18">
    <img src="/images/crests/netherlands.svg" alt="Netherlands flag" width="24" height="18">
    <img src="/images/crests/poland.svg" alt="Poland flag" width="24" height="18">
    <img src="/images/crests/portugal.svg" alt="Portugal flag" width="24" height="18">
    <img src="/images/crests/romania.svg" alt="Romania flag" width="24" height="18">
    <img src="/images/crests/scotland.svg" alt="Scotland flag" width="24" height="18">
    <img src="/images/crests/serbia.svg" alt="serbia flag" width="24" height="18">
    <img src="/images/crests/slovakia.svg" alt="slovakia flag" width="24" height="18">
    <img src="/images/crests/slovenia.svg" alt="slovenia flag" width="24" height="18">
    <img src="/images/crests/spain.svg" alt="Spain flag" width="24" height="18">
    <img src="/images/crests/switzerland.svg" alt="Switzerland flag" width="24" height="18">
    <img src="/images/crests/turkey.svg" alt="Turkey flag" width="24" height="18">
    <img src="/images/crests/ukraine.svg" alt="Ukraine flag" width="24" height="18">
  </div>
  #}
</header>

<main>
{% block main %}

  <article class="o-wrapper">
    {{ content | safe }}
  </article>
{% endblock %}
</main>

{% block footer %}
  {# {% include "partials/footer.njk" %} #}
{% endblock %}