{% set currentUrl %}{{ page.url }}{% endset %}
<script type="module" src="/components/theme-switcher.js"></script>

<div class="c-nav-primary__bg">
  <nav class="o-wrapper c-nav-primary">
    <ul class="padding-left:0 flex" role="list">
      <li>
        <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/"><img src="/images/euro-2024-logo.svg" alt="Euro 2024 logo" width="32" /></a>
      </li>
      {% for item in navigation.top %}
      <li>
        <a
          href="{{ item.url }}"
          {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <theme-switcher>
      <button data-theme="light" aria-pressed="true">Light</button>
      <button data-theme="dark" aria-pressed="false">Dark</button>
    </theme-switcher>

  </nav>
</div>
