{% set currentUrl %}{{ page.url }}{% endset %}
<script type="module" src="/components/theme-switcher.js"></script>

<nav class="o-wrapper c-nav-primary">
  <ul class="padding-left:0 flex" role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
    </li>
    {% for item in navigation.top %}
    <li>
      <a
        href="{{ item.url }}"
        {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
      >
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <theme-switcher>
    <button data-theme="light" aria-pressed="true">Light</button>
    <button data-theme="dark" aria-pressed="false">Dark</button>
  </theme-switcher>

</nav>