<tr>
  <td class="player__details">
    <img src="{{ item.crest }}" alt="Flag of {{ item.team }}" width="24" height="18" class="crest" />
    <p>{{ item.player }}</p>
  </td>
  <td>
    <p>{{ item.goals }}</p>
  </td>
  <td>
    <p>{{ item.assists }}</p>
  </td>
</tr>
