/* WIDTHS
===========================================
===========================================*/

.width\:25 {
  width: 25%;
}

.width\:33 {
  width: 33.33%;
}

.width\:50 {
  width: 50%;
}

.width\:100 {
  width: 100%;
}