{% macro alert(params) %}
  
  {# Set shared classes for this component #}
  {%- set classNames = "o-box leading-normal mb-4 rounded-sm shadow mb-base" -%}

  {# Set text to be prefixed to a notification depending on its purpose #}
  {%- set textPrefix = "" -%}


  {# Create key called purpose. The purpose here will decide what classes we add to the element #}
  {%- if params.purpose %}
    {% set purpose = params.purpose %}
  {% endif %}

  {# Set different attributes based on the purpose. #}
  {%- if purpose == 'info' %}
    {% set classNames = classNames + " border-solid border-blue-500 border-l-8 border-t-0 border-r-0 border-b-0 bg-blue-100 text-blue-500" %}
    {% set textPrefix = "Info" %}

  {%- elseif purpose == 'warning' %}
    {% set classNames = classNames + " border-solid border-yellow-800 border-l-8 border-t-0 border-r-0 border-b-0 bg-yellow-200 text-yellow-800" %}
    {% set textPrefix = "Warning" %}

  {%- elseif purpose == 'error' %}
    {% set classNames = classNames + " border-solid border-red-800 border-l-8 border-t-0 border-r-0 border-b-0 bg-red-200 text-red-800" %}
    {% set textPrefix = "Error" %}

  {%- endif %}


  {# Set common attributes shared across all notification types (just classes for now but could include other attributes) #}
  {%- set commonAttributes %} class="{{ classNames }}" id="j-close" role="status" aria-live="polite" {% endset %}



<div {{- commonAttributes | safe }} class="">
<div class="p-base">
  <p class=""><strong>{{textPrefix}}:</strong> {{ params.text }}</p>
</div>

<div class="py-s px-m">
  <div class="text-right">
  {{ caller() if caller }}
  </div>
</div>
</div>
{% endmacro %}