/* Family teams
========================================================================== */

  .family-teams header {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
  }

    .family-teams__title {
      color: var(--color-primary-100);
    }

  .family-teams__body {
    padding: var(--spacing-l);
  }

    .family-teams__team {
      display: flex;
      gap: var(--spacing-s);
    }

