/* Buttons
========================================================================== */

.fixture__grid {
  display: grid;
  gap: var(--spacing-l);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: var(--spacing-xl);
}

  .fixture {
    background-color: var(--white);
    border-radius: var(--spacing-xs);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.6);
    line-height: 1;
    padding: var(--spacing-xl);
  }

    .fixture__details {
      display: flex;
      grid-template-columns: 1fr auto 1fr;
      gap: var(--spacing-xs);
    }

    .fixture__wrapper {
      /*
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto 1fr;
      gap: var(--spacing-xs);
      */
    }

    .fixture__stage {
      font-size: var(--font-size-s);
      color: var(--grey-500);
      text-transform: uppercase;
      letter-spacing: 0.04rem;
    }

    .fixture__home,
    .fixture__away {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);
    }

    .fixture__score {
      font-size: var(--font-size-2xl);
      font-weight: bold;
    }
