/* Buttons
========================================================================== */

.fixture {
  --flow-space: var(--spacing-2xl);
}

.fixture__grid {
  display: grid;
  gap: var(--spacing-l);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


    .fixture__details {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-xs);
      padding: var(--spacing-l);
    }

    .fixture__details--wrapper {
      flex-grow: 1;
    }

    .fixture__stage {
      font-size: var(--font-size-s);
      color: var(--color-primary-100);
      text-transform: uppercase;
      letter-spacing: 0.04rem;
    }

    .fixture__team {
      display: flex;
      gap: var(--spacing-s);
    }

    .fixture__home,
    .fixture__away {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-s);
    }

    .fixture__time {
      font-size: var(--font-size-base);
    }

    .fixture__score {
      font-size: var(--font-size-2xl);
      font-weight: bold;
    }
