/* Buttons
========================================================================== */

  .group-table {
    background-color: var(--white);

    th, td {
      border: 1px solid var(--black);
      padding: var(--spacing-base);
      vertical-align: top;
    }
  }



