/* NAV PRIMARY
===========================================
===========================================*/
.c-nav-primary {
  margin-bottom: var(--spacing-l);
}

.c-nav-primary ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-base);
  list-style-type: none;
}

  .c-nav-primary [data-state="active"],
  .c-nav-primary [aria-current="page"] {
    font-weight: bold;
  }    
