/* NAV PRIMARY
===========================================
===========================================*/
.c-nav-primary__bg {
  background-color: var(--black);
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-l);
}

  .c-nav-primary {
    display: flex;
    justify-content: space-between;
  }

    .c-nav-primary ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-base);
      list-style-type: none;
    }

    .c-nav-primary a {
      color: var(--white);
      text-decoration: none;
    }

      .c-nav-primary [data-state="active"],
      .c-nav-primary [aria-current="page"] {
        font-weight: bold;
      }    
