/* Buttons
========================================================================== */

  .standings {
    --flow-space: var(--spacing-l);
  }

  .group-table {
    background-color: var(--white);
  }

  .group-table th,
  .group-table td {
    padding: var(--spacing-base);
    vertical-align: top;
  }

  .group-table th,
  .group-table td {
    border: 1px solid var(--black);
  }

  .group-table th[scope="row"] {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
  }





