{% macro button(params) %}
  {# Set class for this component #}
  {%- set classNames = "" -%}



  {# Create key called 'purpose' #}
  {%- if params.purpose %}
    {% set purpose = params.purpose %}
  {% endif %}
  
  {# Set different classes based on the purpose and set a default #}
  {%- if purpose == 'secondary' %}
    {% set classNames = "c-btn--secondary" %}

  {%- elseif purpose == 'tertiary' %}
    {% set classNames = "c-btn--tertiary" %}

  {%- else %}
    {% set classNames = "c-btn--primary" %}
  {%- endif %}



  {# Create key called size #}
  {%- if params.size %}
    {% set size = params.size %}
  {% endif %}


  {# Set different classes based on the specified size. If no size is set, the button uses the default size at the bottom #}
  {%- if size == 'small' %}
    {% set classNames = classNames + " c-btn--s" %}

  {%- else %}
    {% set classNames = classNames + "" %}
  {%- endif %}



  {% if params.disabled %}
    {% set classNames = classNames + " c-btn--disabled" %}
  {% endif -%}

  {# Determine type of element to use, if not explicitly set #}
  {%- if params.element %}
    {% set element = params.element | lower %}
  {% else %}
    {% if params.href %}
      {% set element = 'a' %}

    {% elseif params.close %}
      {% set element = 'close' %}
    {% else %}

      {% set element = 'button' %}
    {% endif %}
  {% endif -%}

  {#- Define common attributes that we can use across all elements #}
  {%- set commonAttributes %} class="{{ classNames }}" {% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}{% endset %}

  {#- Define common attributes we can use for both button and input types #}
  {%- set buttonAttributes %}{% if params.name %} name="{{ params.name }}"{% endif %}{% if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}{% if params.preventDoubleClick %} data-prevent-double-click="true"{% endif %}{% endset %}



  {#- Actually create a button... or a link! #}
  {%- if element == 'a' %}
  <a href="{{ params.href if params.href else '#' }}" role="button" draggable="false" {{- commonAttributes | safe }}>
    {{ params.html | safe if params.html else params.text }}
  {# Indentation is intentional to output HTML nicely #}
  {{- iconHtml | safe | trim | indent(2, true) if iconHtml -}}
  </a>

  {%- elseif element == 'button' %}
  <button {%- if params.value %} value="{{ params.value }}"{% endif %}{%- if params.type %} type="{{ params.type }}"{% endif %} {{- buttonAttributes | safe }} {{- commonAttributes | safe }}>
    {{ params.html | safe if params.html else params.text }}
  {# Indentation is intentional to output HTML nicely #}
  {{- iconHtml | safe | trim | indent(2, true) if iconHtml -}}
  </button>

  {%- elseif element == 'input' %}
  <input value="{{ params.text }}" type="{{ params.type if params.type else 'submit' }}" {{- buttonAttributes | safe }} {{- commonAttributes | safe }}>
  {%- endif %}
{% endmacro %}