/* GLOBALS
===========================================
===========================================*/

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='black' opacity='0.6' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  /* background-color: var(--color-background); */
  color: var(--color-text);
  font-family: var(--font-base);
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 2em;
}

:is(h1, h2, h3) + * {
  --flow-space: 1em;
}