/* HEADINGS
===========================================
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: var(--white);
  border-radius: var(--spacing-s);
  font-family: var(--font-accent);
  line-height: var(--line-height-xs);
  padding: var(--spacing-base);
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: 800;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

h5 {
  font-size: var(--font-size-s);
}
