/* LINKS
===========================================
===========================================*/

a {
  color: var(--color-action);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}