---
title: Euro 2024 sweepstake
description: Euro 2024 sweepstake
layout: page.njk
---

<div class="o-css-grid">
  <article class="c-card">
    <header class="c-card__header">
      <h2>Teams</h2>
    </header>
    <div class="family-teams__wrapper">
      {% for item in data.allocatedTeams %}
        <div class="family-teams__details">
          <div class="family-teams__member">
            <img src="/images/family/{{ item.familyMember }}.svg" width="21" height="21" class="family-icon">
            <h2 class="family-teams__title">{{ item.familyMember }}</h2>
          </div>
          <div class="family-teams__teams flow">
            {% for team in item.teams %}
              <div class="family-teams__team">
                <img src="{{ team.crest }}" alt="Flag of {{ team.name }}" width="24" height="18" class="crest" />
                <p>{{ team.name }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
