/* VARIABLES
===========================================

===========================================*/

:root {
  /* Spacing
  ----------------------------------------- */
  --spacing-3xs: 0.1rem;  
  --spacing-2xs: 0.18rem;  
  --spacing-xs: 0.3rem;    
  --spacing-s: 0.5rem;      
  --spacing-base: 1rem;      
  --spacing-l: 1.5rem;      
  --spacing-xl: 2rem;    
  --spacing-2xl: 3rem;  
  --spacing-3xl: 4rem;  



  // --spacing-3xs:  clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  // --spacing-2xs:  clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  // --spacing-xs:   clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  // --spacing-s:    clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  // --spacing-base: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  // --spacing-l:    clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  // --spacing-xl:   clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  // --spacing-2xl:  clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  // --spacing-3xl:  clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

  /* Flow space */
  --flow-space: 1.5em;

  /* Border radius */
  --border-radius-xs: var(--spacing-xs);
  --border-radius-s: var(--spacing-s);
  --border-radius: var(--spacing-base);

  /* Typography
  ----------------------------------------- */
  --font-base: "Roboto Mono", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-accent: "Roboto Mono", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --measure: 68ch;

  // Based on this: https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.2&maxFontSize=18&maxWidth=1200&maxRatio=1.2&steps=xs%2Cs%2Cbase%2Cl%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground
  --font-size-xs: clamp(0.69rem, 0.17vi + 0.65rem, 0.78rem);
  --font-size-s: clamp(0.83rem, 0.21vi + 0.78rem, 0.94rem);
  --font-size-base: clamp(1rem, 0.25vi + 0.94rem, 1.13rem);
  --font-size-l: clamp(1.2rem, 0.3vi + 1.13rem, 1.35rem);
  --font-size-xl: clamp(1.44rem, 0.36vi + 1.35rem, 1.62rem);
  --font-size-2xl: clamp(1.73rem, 0.43vi + 1.62rem, 1.94rem);
  --font-size-3xl: clamp(2.07rem, 0.52vi + 1.94rem, 2.33rem);
  --font-size-4xl: clamp(2.49rem, 0.62vi + 2.33rem, 2.8rem);
  --font-size-5xl: clamp(2.99rem, 0.75vi + 2.8rem, 3.36rem);

  --line-height-xs:     1.1;
  --line-height-normal: 1.5;




  /* Colours
  ----------------------------------------- */
  --white:              hsla(0,0%,100%,1);

  --grey-100:           hsla(214,10%,96%,1);  
  --grey-200:           hsla(214,10%,90%,1);
  --grey-300:           hsla(214,10%,75%,1);
  --grey-400:           hsla(214,10%,65%,1);
  --grey-500:           hsla(214,10%,50%,1);
  --grey-600:           hsla(214,10%,45%,1);
  --grey-700:           hsla(214,10%,40%,1);
  --grey-800:           hsla(214,10%,30%,1);
  --grey-900:           hsla(214,15%,20%,1);

  --black:              hsla(0,0%,10%,1);       

  --positive:           hsla(120,75%,25%,1);
  --positiveLight:      hsla(120,75%,90%,1);
  
  --caution:            hsla(45,75%,50%,1);
  --cautionLight:       hsla(45,75%,90%,1);
  --negative:           hsla(0,75%,50%,1);
  --negativeLight:      hsla(0,75%,90%,1);  
  --neutral:            hsla(200,40%,35%,1);
  --neutralLight:       hsla(200,40%,90%,1);

  

  --color-primary-100:  hsl(228 83% 95% / 1);
  --color-primary-200:  hsl(228 83% 80% / 1);
  --color-primary-300:  hsl(228 83% 70% / 1);
  --color-primary-400:  hsl(228 83% 60% / 1);
  --color-primary-500:  hsl(228 83% 50% / 1);
  --color-primary-600:  hsl(228 83% 30% / 1);
  --color-primary-700:  hsl(228 83% 15% / 1);
  --color-primary-800:  hsl(228 83% 10% / 1);
  --color-primary-900:  hsl(228 83% 5% / 1);

  --yellow: #F7CE43;
  --crimson: #EA3323;
  --green: #01BA5D ;
  --red: #FE0000;
  --blue: #143CDA;
}